<% if (success && success.length) { %>
  <div style="z-index: 6;width: 50vw;position: absolute;top: 20px;left:5px;" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= success %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
